* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  outline: 1px solid rgba(255, 0, 0, 0.1);
  /* debug visivo */
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;


}

.comics {
  border-bottom: 10px;
  border-width: 10px;
  border-color: blue;
  color: blue;
}

.logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: black;

}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;

}

main {
  background-color: #1c1c1c;
  /* padding: 3%; */
}

.top-main {
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  background-position: top;
  height: 400px;
  width: 100%;
}

/* aggiunta altezza per il debug */
.bottom-main {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  min-height: 200px;
}

.comic-grid {
  gap: 35px;
  display: flex;
  flex-wrap: wrap;

}

.card {
  flex: 0 0 calc((100% - (5 * 35px)) / 6);
  /* 5 gap da 35px tra 6 colonne */
  max-width: 180px;
  height: 130px;

}


.card-image {
  width: 100%;
  max-height: 100%;
  /* object-fit: cover; */
}

.comic-title {
  margin-top: 0.5rem;
  font-size: 0.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
}

.load-more {
  text-transform: uppercase;
  padding: 5px 20px;
  margin-top: 8%;
  margin-bottom: 2%;
  background-color: #1c7fdc;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}



h2 {
  color: white;
  margin-left: 220px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
  display: flex;
  justify-content: center;
  background-color: #0182f9;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 50px;
}

.banner-item {
  text-align: center;
  color: white;
  display: flex;
  gap: 10px;
}

.descriptor {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner-item img {
  width: 50px;
  height: auto;
}

.footer-top-container {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  max-height: 80%;
  gap: 80px;
}

.text-box {
  width: 60%;
}

.image-box {
  width: 40%;
  /* l'immagine dc ho provato anche a metterla come background, ma non compariva, quindi a mettergli uno z-index per farla stare sopra, ma niente */
}

.image-box img {
  width: 100%;
  /* margin-right: 300px; */
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 500px;
  margin-left: 12%;
}

.footer-container>div {
  width: calc((100% - 40px) / 3);
  flex-shrink: 0;
}

.footer-column ul {
  color: #67736f;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-column h3 {
  color: white;
  padding-top: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bottom-container {
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.social {
  display: flex;
  gap: 20px;
}

.container-button {
  border: 3px solid #1c7fdc;
}

.sign-up {
  text-transform: uppercase;
  background: none;
  color: white;
  border: none;
  padding: 10px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.social p {
  display: flex;
  align-items: center;
  color: #1c7fdc;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  margin-top: 8px;
  /* non so perchè aggiungendo il tag strong mi ha rimosso la centratura con align items, e ho dovuto mandarlo giu con un un margine   */
}

.hamburger,
.menu-toggle {
  display: none;
}

@media (max-width: 992px) {
  .card {
    flex: 0 0 calc((100% - (2 * 20px)) / 3);
    max-width: calc((100% - (2 * 20px)) / 3);
  }
}

@media (max-width: 600px) {
  .comic-grid {
    gap: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .card {
    flex: 0 0 100%;
    max-width: 50%;

  }

  .load-more {
    margin-top: 10%;
  }

  .hamburger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    padding: 0.5rem;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    margin-top: 1rem;
    max-height: 0;
    /* Sposta visivamente il menu verso l’alto di 10px. */
    transform: translateY(-10px);
    transition: all 1s ease;
    /* Nasconde tutto ciò che esce dai bordi dell’elemento, in questo caso quando ha max-height: 0 */
    overflow: hidden;
  }

  /* Se il checkbox è attivo ➜ mostra il menu */
  .navbar .menu-toggle:checked+.hamburger+.nav-links {
    max-height: 500px;
    /* opacity: 1; */
    /* transform: translateY(0); */
    padding: 1rem;
  }

  .banner {
    flex-wrap: wrap;
    gap: 1 rem;
    padding-inline: 1rem;
  }
}