* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;

}

.comics {
  border-bottom: 10px;
  border-width: 10px;
  border-color: blue;
  color: blue;
}

.logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;

}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;

}

main {
  background-color: black;
  /* padding: 3%; */
}

.top-main {
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  background-position: top;
  height: 400px;
  width: 100%;
}

/* aggiunta altezza per il debug */
.bottom-main {
  height: 200px;
  background-color: blue;
}

.comic-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: calc((100% - 100px) / 6);
  flex-shrink: 0;
  height: 100%;

}



h2 {
  color: white;
  margin-left: 220px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
  display: flex;
  justify-content: center;
  background-color: #0182f9;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 50px;
}

.banner-item {
  text-align: center;
  color: white;
  display: flex;
  gap: 10px;
}

.descriptor {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner-item img {
  width: 50px;
  height: auto;
}

.footer-top-container {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  max-height: 80%;
  gap: 80px;
}

.text-box {
  width: 60%;
}

.image-box {
  width: 40%;
  /* l'immagine dc ho provato anche a metterla come background, ma non compariva, quindi a mettergli uno z-index per farla stare sopra, ma niente */
}

.image-box img {
  width: 100%;
  margin-right: 300px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 500px;
  margin-left: 12%;
}

.footer-container>div {
  width: calc((100% - 40px) / 3);
  flex-shrink: 0;
}

.footer-column ul {
  color: #67736f;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-column h3 {
  color: white;
  padding-top: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bottom-container {
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.social {
  display: flex;
  gap: 20px;
}

.container-button {
  border: 3px solid #1c7fdc;
}

.sign-up {
  text-transform: uppercase;
  background: none;
  color: white;
  border: none;
  padding: 10px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.social p {
  display: flex;
  align-items: center;
  color: #1c7fdc;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  margin-top: 8px;
  /* non so perchè aggiungendo il tag strong mi ha rimosso la centratura con align items, e ho dovuto mandarlo giu con un un margine   */
}