* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  text-transform: uppercase;

}

.comics {
  border-bottom: 10px;
  border-width: 10px;
  border-color: blue;
  color: blue;
}

.logo {
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}