* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;

}

.comics {
  border-bottom: 10px;
  border-width: 10px;
  border-color: blue;
  color: blue;
}

.logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;

}

main {
  background-color: black;
  padding: 3%;
}

h2 {
  color: white;
  margin-left: 220px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
  display: flex;
  justify-content: center;
  background-color: #0182f9;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 50px;
}

.banner-item {
  text-align: center;
  color: white;
  display: flex;
  gap: 10px;
}

.descriptor {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner-item img {
  width: 50px;
  height: auto;
}

.container {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.footer-container>div {
  width: calc((100% - 40px) / 3);
  flex-shrink: 0;
}